<div id="index_page">
  <%= link_to "Pievienot jaunu", { :action => :new }, :class => "button icon add positive right" %>
  <h2>Paraugi</h2>
  <%= render_flash_messages %>
  <div id="search_box">
    <%= form_tag("/#{controller_name}/search") do %>
      <%= text_field_tag "search", params[:search], :class => "search_field" %>
      <%= link_to "Meklēt", "#", :class => "button icon search submit" %>
    <% end %>
  </div>
  <% unless @samples.empty? %>
    <table class="index_table">
      <thead>
        <th><%= sortable "ID", "code", controller_name, params %></th>
        <th><%= sortable "Izveidots", "created_at", controller_name, params %></th>
        <th class="actions">&nbsp;</th>
      </thead>
        <% @samples.each do |o| %>
          <tr controller="<%= controller_name %>" o_id="<%= o.id %>">
            <td><%= o.code %></td>
            <td><%= o.created_at.strftime("%d.%m.%Y") %></td>
            <td><%= link_to "Dzēst", { :action => :destroy, :id => o.id}, :method => :delete, :class => "danger icon trash button", :confirm => "Vai esat pārliecināts?" %></td>
          </tr>
        <% end %>
      <tbody>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate(@samples, Biomed::Application::PAGINATION_DISPLAY_OPTIONS.merge(
    {:params => { :action => :index, :search => params[:search] }})) %>
</div>