<div id="index_page">
  <%= link_to "Pievienot jaunu", { :action => :new }, :class => "button icon add positive right" %>
  <h2>Vērtību saraksti</h2>
  <%= render_flash_messages %>
  <% unless @lovs.empty? %>
    <table class="index_table">
      <thead>
        <th><%= sortable "Nosaukums", "name" %></th>
        <th><%= sortable "Vērtības", "values" %></th>
        <th class="actions">&nbsp;</th>
      </thead>
        <% @lovs.each do |o| %>
          <tr>
            <td><%= o.name %></td>
            <td><%= o.values.join(", ") %></td>
            <td><%= link_to "Dzēst", { :action => :destroy, :id => o.id}, :method => :delete, :class => "danger icon trash button", :confirm => "Vai esat pārliecināts?" %></td>
          </tr>
        <% end %>
      <tbody>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate(@lovs, Biomed::Application::PAGINATION_DISPLAY_OPTIONS) %>
</div>