<h2>Vērtību saraksts</h2>
<%= render_flash_messages %>
<%= form_for @lov do |f| %>
  <% unless f.object.errors.empty? %>
    <div class="errors">
      <%= custom_error_messages_for([f.object]) %>
    </div>
  <% end %>
  <div class="form_field">
    <%= f.label :name, "Nosaukums<span class='required'>*</span>".html_safe %>
    <%= f.text_field :name %>
  </div>
  <div class="form_field">
    <%= f.label :values, "Vērtības<span class='required'>*</span>".html_safe %>
    <%= f.text_field :values, :class => "has_qtip", :qtext => "Vērtības atdalīt ar komatiem" %>
  </div>
  <div class="form_actions">
    <%= f.submit "Sablagāt", :class => "button" %>
    <%= link_to "Atpakaļ", lovs_path, :class => "button" %>
  </div>
<% end %>