<h2>Datu grupa</h2>
<%= render_flash_messages %>
<%= form_for @group do |f| %>
  <% unless f.object.errors.empty? %>
    <div class="errors">
      <%= custom_error_messages_for([f.object]) %>
    </div>
  <% end %>
  <div class="form_field">
    <%= f.label :name, "Nosaukums<span class='required'>*</span>".html_safe %>
    <%= f.text_field :name %>
  </div>
  <div class="attribute_groups" id="sortable">
    <% @group.ordered_specimen_attributes.each do |o| %>
      <%= render :partial => "specimen_attribute", :object => o %>
    <% end %>
  </div>
  <%= link_to "Pievienot jaunu atribūtu", "#", :class => "button pill add_new_attribute", :controller => "#{controller_name}" %>
  <div class="form_actions">
    <%= f.submit "Sablagāt", :class => "button" %>
    <%= link_to "Atpakaļ", specimen_attribute_groups_path, :class => "button" %>
  </div>
<% end %>