<!DOCTYPE html>
<html>
<head>
  <title>BMC</title>
  <%= css3buttons_stylesheets %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content">
    <% if current_user %>
      <%= link_to "Iziet", logout_path, :id => "logout_link" %>
      <br class="clear"/>
      <div id="tabs" class="button-group">
        <% [{:name => "Paraugi", :link => root_path, :controller => "specimens"},
            {:name => "Personas", :link => "#"},
            {:name => "Paraugu datu konfigurācija", :link => "#"},
            {:name => "Personu datu konfigurācija", :link => "#"},
            {:name => "Vērtību saraksti", :link => lovs_path, :controller => "lovs"}].each do |h| %>
          <%= link_to h[:name], h[:link], :class => "pill button #{"active" if controller_name == h[:controller]}" %>
        <% end %>
      </div>
    <% end %>
    <div id="<%= current_user ? "main_body" : "login_page" %>">
      <%= yield %>
    </div>
  </div>
</body>
</html>
